<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Python
- R
- My SQL
- C++

Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. C++

Some commonly used libraries used by Data Scientists include:

1. NumPy
2. matplotlib
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter|
|Spark SQL|
|Apache Airflow|

### Below are a few examples of evaluating arithementic expressions in Python

In [9]:
# This is a simple arithemetic expression to multiply then add numbers
(3*4+5)

17

In [10]:
# This is to convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author

Odiki Anthony B.